.banner {
    @include block-margin;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 49px 80px;
        background-image: url("../../images/banner/bg-desctop.png");
        background-color: $color-moon-mist;

        @media (min-resolution: 2dppx) {
            background-image: url("../../images/banner/bg-desctop@2x.png");
        }

        @include vp-1023 {
            padding: 28px 40px;
            background-image: url("../../images/banner/bg-tablet.png");

            @media (min-resolution: 2dppx) {
                background-image: url("../../images/banner/bg-tablet@2x.png");
            }
        }

        @include vp-767 {
            flex-direction: column;
            padding: 20px 57px;
            background-image: url("../../images/banner/bg-mobile.png");

            @media (min-resolution: 2dppx) {
                background-image: url("../../images/banner/bg-mobile@2x.png");
            }
        }
    }
    
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 0 0 0;

        @include vp-1023 {
            gap: 5px;
        }

        @include vp-767 {
            text-align: center;
        }
    }

    &__main-text {
        font-size: 40px;
        line-height: 44px;

        @include vp-1023 {
            font-size: 32px;
            line-height: 36px;
        }

        @include vp-767 {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__secondary-text {
        font-size: 24px;
        line-height: 28px;

        @include vp-1023 {
            font-size: 16px;
            line-height: 24px;
        }

        @include vp-767 {
            font-size: 14px;
            line-height: 20px;
        }
    }
}