.privacy {
    margin: 0 0 0 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: $color-marsh;

    @include vp-767 {
        font-size: 10px;
        line-height: 12px;
    }

    &__link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: $color-marsh;

        &:hover {
            color: $color-bokara-grey;
        }

        &:focus-visible {
            color: $color-bokara-grey;
        }
    }
}